ACTION=="add", DEVPATH=="/devices/virtual/Radars/radar1" SUBSYSTEM=="radar_class" RUN+="/bin/mkdir /dev/Radars"
ACTION=="remove", DEVPATH=="/devices/virtual/Radars/radar1" SUBSYSTEM=="radar_class" RUN+="/bin/rmdir /dev/Radars"
