ACTION=="add", DEVPATH=="/devices/virtual/radar_class/radar1" SUBSYSTEM=="radar_class" RUN+="/bin/mkdir /dev/radar"
ACTION=="remove", DEVPATH=="/devices/virtual/radar_class/radar1" SUBSYSTEM=="radar_class" RUN+="/bin/rmdir /dev/radar"
